In [2]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import r2_score
from sklearn.decomposition import PCA
from sklearn.ensemble import RandomForestRegressor

In [3]:
data = pd.read_csv("Furniture Price Prediction.csv")

In [4]:
data

,furniture,type,url,rate,delivery,sale,price
0,Bed side table with storage shelf,Home Decor Center,https://www.jumia.com.eg//ar/home-decor-center...,3.3,172.14,72%,2500.0
1,Bed side table with storage shelf,Modern Home,https://www.jumia.com.eg//ar/modern-home-bedsi...,0.0,172.14,54%,1200.0
2,Modern Zigzag TV Table,Modern Home,https://www.jumia.com.eg//ar/generic-zigzag-tv...,0.0,172.14,18%,1099.0
3,Bedside table with storage shelf,Modern Home,https://www.jumia.com.eg//ar/modern-home-bedsi...,0.0,172.14,58%,1200.0
4,Wall Mounted TV Unit with Cabinet TV Stand Uni...,Modern Home,https://www.jumia.com.eg//ar/modern-home-wall-...,5.0,52.44,54%,1400.0
...,...,...,...,...,...,...,...
1995,Casio Standard Analogue Ladys Standard Analog ...,Casio Standard Analogue Ladys Standard Analog ...,https://www.jumia.com.eg//ar/casio-standard-an...,0.0,656.28,0%,1632.0
1996,Coffee table + side table,Hub Furniture,https://www.jumia.com.eg//ar/hub-furniture-ae-...,0.0,172.14,0%,11450.0
1997,Ben Togo Baby Bed,Bean GO,https://www.jumia.com.eg//ar/bean2go-newborn-b...,0.0,52.44,0%,550.0
1998,Cloud memory foam mattress (medical),CIREM,https://www.jumia.com.eg//ar/cirem-cloud-memor...,0.0,172.14,9%,8495.0
1999,Comfy memory foam mattress,CIREM,https://www.jumia.com.eg//ar/cirem-comfy-medic...,0.0,172.14,10%,10775.0

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   furniture  2000 non-null   object
 1   type       2000 non-null   object
 2   url        2000 non-null   object
 3   rate       2000 non-null   float64
 4   delivery   2000 non-null   float64
 5   sale       2000 non-null   object
 6   price      1961 non-null   float64
dtypes: float64(3), object(4)
memory usage: 109.5+ KB

In [6]:
data.isnull().sum()

furniture     0
type          0
url           0
rate          0
delivery      0
sale          0
price        39
dtype: int64

In [7]:
data = data.dropna()

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1961 entries, 0 to 1999
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   furniture  1961 non-null   object
 1   type       1961 non-null   object
 2   url        1961 non-null   object
 3   rate       1961 non-null   float64
 4   delivery   1961 non-null   float64
 5   sale       1961 non-null   object
 6   price      1961 non-null   float64
dtypes: float64(3), object(4)
memory usage: 122.6+ KB

In [9]:
data1 = data.drop(columns="url")
data1

,furniture,type,rate,delivery,sale,price
0,Bed side table with storage shelf,Home Decor Center,3.3,172.14,72%,2500.0
1,Bed side table with storage shelf,Modern Home,0.0,172.14,54%,1200.0
2,Modern Zigzag TV Table,Modern Home,0.0,172.14,18%,1099.0
3,Bedside table with storage shelf,Modern Home,0.0,172.14,58%,1200.0
4,Wall Mounted TV Unit with Cabinet TV Stand Uni...,Modern Home,5.0,52.44,54%,1400.0
...,...,...,...,...,...,...
1995,Casio Standard Analogue Ladys Standard Analog ...,Casio Standard Analogue Ladys Standard Analog ...,0.0,656.28,0%,1632.0
1996,Coffee table + side table,Hub Furniture,0.0,172.14,0%,11450.0
1997,Ben Togo Baby Bed,Bean GO,0.0,52.44,0%,550.0
1998,Cloud memory foam mattress (medical),CIREM,0.0,172.14,9%,8495.0
1999,Comfy memory foam mattress,CIREM,0.0,172.14,10%,10775.0

In [10]:
# data = pd.DataFrame(data1)
# data

In [11]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1961 entries, 0 to 1999
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   furniture  1961 non-null   object
 1   type       1961 non-null   object
 2   rate       1961 non-null   float64
 3   delivery   1961 non-null   float64
 4   sale       1961 non-null   object
 5   price      1961 non-null   float64
dtypes: float64(3), object(3)
memory usage: 107.2+ KB

In [12]:
data1['sale'] = data1['sale'].str.replace('%', '', regex=False)
data1

,furniture,type,rate,delivery,sale,price
0,Bed side table with storage shelf,Home Decor Center,3.3,172.14,72,2500.0
1,Bed side table with storage shelf,Modern Home,0.0,172.14,54,1200.0
2,Modern Zigzag TV Table,Modern Home,0.0,172.14,18,1099.0
3,Bedside table with storage shelf,Modern Home,0.0,172.14,58,1200.0
4,Wall Mounted TV Unit with Cabinet TV Stand Uni...,Modern Home,5.0,52.44,54,1400.0
...,...,...,...,...,...,...
1995,Casio Standard Analogue Ladys Standard Analog ...,Casio Standard Analogue Ladys Standard Analog ...,0.0,656.28,0,1632.0
1996,Coffee table + side table,Hub Furniture,0.0,172.14,0,11450.0
1997,Ben Togo Baby Bed,Bean GO,0.0,52.44,0,550.0
1998,Cloud memory foam mattress (medical),CIREM,0.0,172.14,9,8495.0
1999,Comfy memory foam mattress,CIREM,0.0,172.14,10,10775.0

In [32]:
# Columns to be vectorized
text_columns = ['furniture', 'type']

# Initialize CountVectorizer
vectorized_data = CountVectorizer()

# Create a new DataFrame to store vectorized columns
vectorized_data = pd.DataFrame()
for column in text_columns:
    # Apply CountVectorizer and convert to DataFrame
    column_vectorized= pd.DataFrame(
        vectorizer.fit_transform(data1[column].fillna('')).toarray(),
        columns=[f"{column}_{word}" for word in vectorizer.get_feature_names_out()]
    )
    # Add vectorized data to the new DataFrame
    vectorized_data = pd.concat([vectorized_data, column_vectorized], axis=1)

In [14]:
p = PCA(n_components=5)
pp = p.fit_transform(vectorized_data)

In [15]:
xx = data1.iloc[:,2:5]

In [16]:
ppp = pd.DataFrame(pp)

In [17]:
x = ppp.join(xx)

In [18]:
x

             0         1         2         3         4  rate  delivery sale
0     0.325114 -0.720161  0.136612 -0.407609  0.417182   3.3    172.14   72
1     0.961616 -0.527115  0.151838 -0.376132  0.535361   0.0    172.14   54
2     1.081036 -0.345529 -0.310289 -0.588190  0.490338   0.0    172.14   18
3     0.923733 -0.297214 -0.365449 -0.523850  0.430485   0.0    172.14   58
4     1.209087 -0.729834 -1.346247 -0.762683 -1.624052   5.0     52.44   54
...        ...       ...       ...       ...       ...   ...       ...  ...
1956 -0.569654  0.028935  0.060464 -0.126259 -0.073750   0.0    451.67   17
1957 -0.323389 -0.882416 -0.561065 -0.868048  1.095902   0.0    172.14   38
1958 -0.628695  0.147894  0.662669 -0.166561  0.083887   0.0     52.44   42
1959 -0.486165  0.029279  0.059664  0.013224 -0.102777   NaN       NaN  NaN
1960 -0.502176  0.011541  0.070229 -0.026883 -0.092189   0.0    459.63   44

[1961 rows x 8 columns]

In [19]:
x.isnull().sum()

0            0
1            0
2            0
3            0
4            0
rate        39
delivery    39
sale        39
dtype: int64

In [20]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1961 entries, 0 to 1960
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   0         1961 non-null   float64
 1   1         1961 non-null   float64
 2   2         1961 non-null   float64
 3   3         1961 non-null   float64
 4   4         1961 non-null   float64
 5   rate      1922 non-null   float64
 6   delivery  1922 non-null   float64
 7   sale      1922 non-null   object
dtypes: float64(7), object(1)
memory usage: 122.7+ KB

In [21]:
x = x.fillna(method='ffill')

C:\Users\pc\AppData\Local\Temp\ipykernel_5448\2486246665.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  x = x.fillna(method='ffill')

In [22]:
y = data1.iloc[:,-1]
type(y)
y.info()

<class 'pandas.core.series.Series'>
Index: 1961 entries, 0 to 1999
Series name: price
Non-Null Count  Dtype
--------------  -----
1961 non-null   float64
dtypes: float64(1)
memory usage: 30.6 KB

In [23]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1961 entries, 0 to 1960
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   0         1961 non-null   float64
 1   1         1961 non-null   float64
 2   2         1961 non-null   float64
 3   3         1961 non-null   float64
 4   4         1961 non-null   float64
 5   rate      1961 non-null   float64
 6   delivery  1961 non-null   float64
 7   sale      1961 non-null   object
dtypes: float64(7), object(1)
memory usage: 122.7+ KB

In [24]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [25]:
rfr = RandomForestRegressor()

In [26]:
rfr.fit(x_train,y_train)

TypeError: Feature names are only supported if all input features have string names, but your input has ['int', 'str'] as feature name / column name types. If you want feature names to be stored and validated, you must convert them all to strings, by using X.columns = X.columns.astype(str) for example. Otherwise you can remove feature / column names from your input data, or convert them all to a non-string data type.